@use "../../styles/colors";
#authscreen {
  width: 100%;
  height: 100vh;
  form {
    margin-top: 16px;
    width: 240px;
  }
  label {
    font-size: 1rem;
  }
  input {
    padding: 8px 8px;
    width: 240px;
    margin-bottom: 16px;
    margin-top: 4px;
  }
  button {
    width: 100%;
    padding: 8px 0px;
    font-size: 1rem;
    background-color: colors.$third;
    margin-bottom: 16px;
    color: colors.$primary;
  }
  p {
    cursor: pointer;
    width: 100%;
  }
}
