@use "../../../styles/colors";
@import "../../../styles/mixins";

.chat-box {
  position: relative;
  overflow-y: scroll;
  margin-bottom: 42px;
  .message-from {
    border-radius: 4px;
    width: fit-content;
    min-width: 160px;
    max-width: 260px;
    padding: 12px;
    font-size: 0.8rem;
    margin: 12px 36px;
    &.-user {
      background-color: colors.$third;
      align-self: flex-end;
    }
    &.-otherUser {
      background-color: colors.$secondary;
      align-self: flex-start;
    }
    .date {
      font-size: 0.7rem;
      text-align: right;
      color: gray;
      font-weight: 200;
      margin-top: 4px;
    }
  }
  .text-box {
    position: fixed;
    bottom: 0px;
    input {
      width: 100%;
      padding: 12px;
      height: 42px;
      border: none;
      border-top: 1px solid colors.$primary;
      border-radius: 0px;
      z-index: 0;
      font-size: 0.8rem;
    }
    button {
      position: absolute;
      right: 0px;
      bottom: 0px;
      z-index: 10;
      height: 41px;
      padding: 0px 24px;
      font-size: 0.8rem;
      border-radius: 0px;
    }
  }
}

.two-sidebars-width {
  width: calc(100% - 600px);
}
.one-sidebar-width {
  width: calc(100% - 280px);
}
.no-sidebar-width {
  width: calc(100%);
}
