@use "../../../styles/colors";
@import "../../../styles/mixins";
.sidebar {
  width: 100%;
  max-width: none;
  height: 100%;
  border-right: 1px solid lightgray;
  position: relative;
  padding: 24px 16px;
  .item {
    margin-bottom: 8px;
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 4px;
    width: 100%;
    background-color: white;
    cursor: pointer;
    &.-selected {
      background-color: colors.$secondary;
    }
  }
  .colored-bg {
    padding-top: 24px;
    background-color: colors.$fourth;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  section {
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
    background-color: white;
  }
  .friends-list {
    overflow-y: scroll;
    transition: all 400ms;
  }
  .friend-item {
    padding: 0px 16px;
    margin-bottom: 16px;
    cursor: pointer;
    form {
      position: relative;
    }
    label,
    input,
    button {
      font-size: 0.8rem;
    }
    button,
    input {
      margin-top: 8px;
      width: 100%;
      padding: 6px 8px;
    }
    button {
      background-color: colors.$primary;
      color: white;
      cursor: pointer;
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 8px;
  }
  p {
    margin-left: 8px;
    font-size: 0.8rem;
  }
  .welcome {
    text-align: center;
    margin-bottom: 12px;
    margin-top: -12px;
  }
  @include mid-size() {
    max-width: 280px;
  }
}
#requests-sidebar {
  background-color: colors.$fourth;
  max-width: none;
  button {
    padding: 6px 18px;
    width: fit-content;
    margin-left: 8px;
  }
  #accept {
    color: black;
    background-color: colors.$secondary;
  }
  #ignore {
    color: black;
    background-color: colors.$fourth;
  }
  @include mid-size() {
    max-width: 320px;
  }
}

#chats-sidebar {
  background-color: colors.$fourth;
  max-width: none;
  padding: 0px;
  .chat-item {
    padding: 24px 16px;
    cursor: pointer;
    &.-selected {
      background-color: colors.$secondary;
    }
    p {
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 1.8em;
      line-height: 1.8em;
    }
  }
  @include mid-size() {
    max-width: 320px;
  }
}
