@use "../../styles/colors";
#chatscreen {
  width: 100%;
  height: 100%;
  aside {
    width: 100%;
    height: 100%;
    max-width: 280px;
    padding: 16px 32px;
    border-right: 1px solid lightgray;
    .item {
      margin-bottom: 8px;
      font-size: 1rem;
      padding: 12px;
      cursor: pointer;
      &.-selected {
        background-color: colors.$secondary;
      }
    }
  }
}
