@use "./colors";
:root {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.5rem;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.horizontal-centered-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.horizontal-distributed-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontal-left-aligned-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.horizontal-right-aligned-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.vertical-left-aligned-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vertical-center-aligned-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}
.self-centered {
  margin: auto;
}
button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
}

.required-sup {
  color: red;
}
.icon {
  margin-right: 4px;
}
.icon-spaced {
  margin-right: 8px;
}
.icon-left-margin {
  margin-left: 4px;
}
.icon-with-bg {
  background-color: colors.$secondary;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  .icon-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    width: 100%;
    height: 100%;
  }
}
main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  &.withPadding {
    padding-top: 86px;
  }
}

.user-image {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

input {
  border-radius: 4px;
  border: 1px solid lightgray;
  outline: none;
}

h2 {
  font-weight: 600;
  color: colors.$primary;
  text-align: center;
}

.loader {
  width: 18px;
  height: 18px;
  border: 2.25px solid colors.$fourth;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
  margin-right: 8px;
  &.black {
    border: 2.25px solid colors.$primary;
    border-bottom-color: transparent;
  }
  &.page {
    width: 48px;
    height: 48px;
    border-bottom-color: colors.$primary;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    margin-right: 0px;
    animation: rotation2 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.error {
  margin-top: 4px;
  color: red !important;
  margin-bottom: 8px;
}
